@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <p>Posti team It's @Model.Time right now! Get going !!</p>
    </div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>IBM Posti pages using ASP.NET Core 2.1 </li>
        </ul>
    </div>   
</div>
